---
import Layout from '../layouts/Layout.astro'
import Skill from '../components/Skill'
import ProjectList from '../components/ProjectList'
import Education from '../components/Education'
import Internship from '../components/Internship'

import SideMenu from '../components/SideMenu'
import AboutMe from '../components/AboutMe'
import Contact from '../components/Contact'
---

<Layout title="Thasuohm Portfolio.">
  <div class="flex">
    <SideMenu client:load />
    <div class="w-full duration-100">
      <AboutMe client:load />
      <Education client:load />
      <Internship client:load />
      <Skill client:load />
      <ProjectList client:load />
      <Contact client:load />
    </div>
  </div>
</Layout>
